

body {
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;

}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 85px  auto;
   
  }

header {
  border-bottom: 1px solid #EAEAEA ;


}

h1 {
  font-style: inter;
}

.card {
padding: 20px;
background: #FFFFFF;
border: 1px solid #F3F3F3;
border-radius: 40px;

width: 210px;
min-height: 260px;  

h2{
  font-weight: 400;
  font-size: 14px;
  color: #000000;
      }

  
}

.card-button {
font-size:larger;
width: 32px;
height: 32px;
background: #FFFFFF;
border: 1px solid #F2F2F2;
border-radius: 8px;
cursor: pointer;
color:#F2F2F2;

}

.heart{
  position: relative;
  bottom: -40px;
}    